<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Student data</title>
</head>
<body>
<h2>Students</h2>
<table border="1">
    <tr>
        <th>name</th>
        <th>email</th>
        <th>address</th>
        <th>school</th>
    </tr>
    <tr th:each = "student: ${students}">
        <td th:text="${student.name}">vasile</td>
        <td th:text="${student.email}">vasile@example.com</td>
        <td th:text="${student.address}">123 Main St</td>
        <td th:text="${student.school}">Example School</td>
    </tr>
</table>
</body>
</html>
